<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_taijiantui035.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,361},{31,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,26}}</string>
    <key>sourceSize</key>
    <string>{31,26}</string>
   </dict>
   <key>part-tx_taijiantui034.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,183},{25,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,29}}</string>
    <key>sourceSize</key>
    <string>{25,29}</string>
   </dict>
   <key>part-tx_taijiantui036.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,422},{46,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,27}}</string>
    <key>sourceSize</key>
    <string>{46,27}</string>
   </dict>
   <key>part-tx_jiaoshang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{259,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{259,136}}</string>
    <key>sourceSize</key>
    <string>{259,136}</string>
   </dict>
   <key>part-tx_ui_xunfang004.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,394},{27,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,11}}</string>
    <key>sourceSize</key>
    <string>{27,11}</string>
   </dict>
   <key>part-tx_taijiantui045003.png</key>
   <dict>
    <key>frame</key>
    <string>{{198,389},{39,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,37}}</string>
    <key>sourceSize</key>
    <string>{39,37}</string>
   </dict>
   <key>part-tx_taijiantui031003.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,284},{19,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,29}}</string>
    <key>sourceSize</key>
    <string>{19,29}</string>
   </dict>
   <key>part-tx_taijiantui037 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{49,422},{46,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,27}}</string>
    <key>sourceSize</key>
    <string>{46,27}</string>
   </dict>
   <key>part-tx_taijiantui033f.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,336},{30,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,31}}</string>
    <key>sourceSize</key>
    <string>{30,31}</string>
   </dict>
   <key>part-tx_taijiantui023 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,280},{155,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,140}}</string>
    <key>sourceSize</key>
    <string>{155,140}</string>
   </dict>
   <key>part-tx_taijiantui002 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,334},{37,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,66}}</string>
    <key>sourceSize</key>
    <string>{37,66}</string>
   </dict>
   <key>part-tx_taijiantui027 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,319},{47,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,58}}</string>
    <key>sourceSize</key>
    <string>{47,58}</string>
   </dict>
   <key>part-tx_taijiantui018 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,390},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>part-tx_taijiantui010 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,404},{36,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,14}}</string>
    <key>sourceSize</key>
    <string>{36,14}</string>
   </dict>
   <key>part-tx_taijiantui016 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,400},{43,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,22}}</string>
    <key>sourceSize</key>
    <string>{43,22}</string>
   </dict>
   <key>part-tx_taijiantui014 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,428},{35,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,14}}</string>
    <key>sourceSize</key>
    <string>{35,14}</string>
   </dict>
   <key>part-tx_taijiantui012 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{145,434},{33,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,14}}</string>
    <key>sourceSize</key>
    <string>{33,14}</string>
   </dict>
   <key>part-tx_taijiantui029 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,400},{47,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,27}}</string>
    <key>sourceSize</key>
    <string>{47,27}</string>
   </dict>
   <key>part-tx_taijiantui025 f.png</key>
   <dict>
    <key>frame</key>
    <string>{{278,369},{26,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,19}}</string>
    <key>sourceSize</key>
    <string>{26,19}</string>
   </dict>
   <key>part-tx_taijiantui030.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,214},{23,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,28}}</string>
    <key>sourceSize</key>
    <string>{23,28}</string>
   </dict>
   <key>part-tx_taijiantui032.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,326},{31,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,33}}</string>
    <key>sourceSize</key>
    <string>{31,33}</string>
   </dict>
   <key>part-tx_taijiantui022.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,138},{155,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,140}}</string>
    <key>sourceSize</key>
    <string>{155,140}</string>
   </dict>
   <key>part-tx_taijiantui042.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,138},{84,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,43}}</string>
    <key>sourceSize</key>
    <string>{84,43}</string>
   </dict>
   <key>part-tx_ui_xunfang006.png</key>
   <dict>
    <key>frame</key>
    <string>{{311,284},{66,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,54}}</string>
    <key>sourceSize</key>
    <string>{66,54}</string>
   </dict>
   <key>part-tx_taijiantui039.png</key>
   <dict>
    <key>frame</key>
    <string>{{209,275},{28,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,49}}</string>
    <key>sourceSize</key>
    <string>{28,49}</string>
   </dict>
   <key>part-tx_taijiantui026.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,345},{46,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,53}}</string>
    <key>sourceSize</key>
    <string>{46,53}</string>
   </dict>
   <key>part-tx_taijiantui017.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,376},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>part-tx_taijiantui009.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,402},{36,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,14}}</string>
    <key>sourceSize</key>
    <string>{36,14}</string>
   </dict>
   <key>part-tx_taijiantui015.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,408},{43,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,22}}</string>
    <key>sourceSize</key>
    <string>{43,22}</string>
   </dict>
   <key>part-tx_taijiantui013.png</key>
   <dict>
    <key>frame</key>
    <string>{{376,418},{35,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,14}}</string>
    <key>sourceSize</key>
    <string>{35,14}</string>
   </dict>
   <key>part-tx_taijiantui011.png</key>
   <dict>
    <key>frame</key>
    <string>{{325,432},{33,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,16}}</string>
    <key>sourceSize</key>
    <string>{33,16}</string>
   </dict>
   <key>part-tx_taijiantui028.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,422},{47,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,27}}</string>
    <key>sourceSize</key>
    <string>{47,27}</string>
   </dict>
   <key>part-tx_taijiantui024.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,334},{23,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,19}}</string>
    <key>sourceSize</key>
    <string>{23,19}</string>
   </dict>
   <key>part-tx_jiaozixia.png</key>
   <dict>
    <key>frame</key>
    <string>{{261,0},{231,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,140}}</string>
    <key>sourceSize</key>
    <string>{231,140}</string>
   </dict>
   <key>part-tx_jiaozilian.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,206},{60,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,59}}</string>
    <key>sourceSize</key>
    <string>{60,59}</string>
   </dict>
   <key>part-tx_ui_xunfang005.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,407},{27,11}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,11}}</string>
    <key>sourceSize</key>
    <string>{27,11}</string>
   </dict>
   <key>part-tx_taijiantui045.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,379},{39,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,37}}</string>
    <key>sourceSize</key>
    <string>{39,37}</string>
   </dict>
   <key>part-tx_taijiantui031.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,244},{19,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,29}}</string>
    <key>sourceSize</key>
    <string>{19,29}</string>
   </dict>
   <key>part-tx_taijiantui037.png</key>
   <dict>
    <key>frame</key>
    <string>{{413,429},{46,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,27}}</string>
    <key>sourceSize</key>
    <string>{46,27}</string>
   </dict>
   <key>part-tx_taijiantui033.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,340},{30,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,31}}</string>
    <key>sourceSize</key>
    <string>{30,31}</string>
   </dict>
   <key>part-tx_taijiantui023.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,142},{155,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{155,140}}</string>
    <key>sourceSize</key>
    <string>{155,140}</string>
   </dict>
   <key>part-tx_taijiantui008.png</key>
   <dict>
    <key>frame</key>
    <string>{{310,340},{35,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,66}}</string>
    <key>sourceSize</key>
    <string>{35,66}</string>
   </dict>
   <key>part-tx_taijiantui007.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,214},{40,69}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,69}}</string>
    <key>sourceSize</key>
    <string>{40,69}</string>
   </dict>
   <key>part-tx_taijiantui006.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,183},{56,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,66}}</string>
    <key>sourceSize</key>
    <string>{56,66}</string>
   </dict>
   <key>part-tx_taijiantui005.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,142},{65,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,62}}</string>
    <key>sourceSize</key>
    <string>{65,62}</string>
   </dict>
   <key>part-tx_taijiantui004.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,251},{50,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,66}}</string>
    <key>sourceSize</key>
    <string>{50,66}</string>
   </dict>
   <key>part-tx_taijiantui003.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,142},{43,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,70}}</string>
    <key>sourceSize</key>
    <string>{43,70}</string>
   </dict>
   <key>part-tx_taijiantui002.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,336},{37,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,66}}</string>
    <key>sourceSize</key>
    <string>{37,66}</string>
   </dict>
   <key>part-tx_taijiantui060.png</key>
   <dict>
    <key>frame</key>
    <string>{{400,267},{42,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,65}}</string>
    <key>sourceSize</key>
    <string>{42,65}</string>
   </dict>
   <key>part-tx_taijiantui027.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,285},{47,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,58}}</string>
    <key>sourceSize</key>
    <string>{47,58}</string>
   </dict>
   <key>part-tx_taijiantui018.png</key>
   <dict>
    <key>frame</key>
    <string>{{418,355},{22,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,19}}</string>
    <key>sourceSize</key>
    <string>{22,19}</string>
   </dict>
   <key>part-tx_taijiantui010.png</key>
   <dict>
    <key>frame</key>
    <string>{{157,418},{36,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,14}}</string>
    <key>sourceSize</key>
    <string>{36,14}</string>
   </dict>
   <key>part-tx_taijiantui016.png</key>
   <dict>
    <key>frame</key>
    <string>{{467,424},{43,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,22}}</string>
    <key>sourceSize</key>
    <string>{43,22}</string>
   </dict>
   <key>part-tx_taijiantui014.png</key>
   <dict>
    <key>frame</key>
    <string>{{288,432},{35,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,14}}</string>
    <key>sourceSize</key>
    <string>{35,14}</string>
   </dict>
   <key>part-tx_taijiantui012.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,434},{33,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{33,14}}</string>
    <key>sourceSize</key>
    <string>{33,14}</string>
   </dict>
   <key>part-tx_taijiantui029.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,420},{47,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{47,27}}</string>
    <key>sourceSize</key>
    <string>{47,27}</string>
   </dict>
   <key>part-tx_taijiantui025.png</key>
   <dict>
    <key>frame</key>
    <string>{{347,373},{26,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,19}}</string>
    <key>sourceSize</key>
    <string>{26,19}</string>
   </dict>
   <key>part-tx_ui_xunfang003.png</key>
   <dict>
    <key>frame</key>
    <string>{{239,284},{70,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,50}}</string>
    <key>sourceSize</key>
    <string>{70,50}</string>
   </dict>
   <key>part-tx_ui_xunfang001.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_ui_xunfang.png</string>
   <key>textureFileName</key>
   <string>tx_ui_xunfang.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>