<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part1-zhiliao_2_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part1-zhiliao_2_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,332},{72,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,107}}</string>
        <key>sourceSize</key>
        <string>{72,107}</string>
      </dict>
      <key>part1-zhiliao_2_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,332},{72,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>part1-zhiliao_2_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,332},{72,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,89}}</string>
        <key>sourceSize</key>
        <string>{72,89}</string>
      </dict>
      <key>part1-zhiliao_2_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{70,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,200}}</string>
        <key>sourceSize</key>
        <string>{70,200}</string>
      </dict>
      <key>part2-zhiliao_3_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,332},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>part2-zhiliao_3_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,339},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>part3-20.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,79},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-19.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,260},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-18.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,130},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-17.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,260},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,130},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,260},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,332},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,260},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-09.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-08.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,215},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-07.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-06.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-05.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,202},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-04.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,209},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-02.png</key>
      <dict>
        <key>frame</key>
        <string>{{897,0},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-01.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,85},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part3-00.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,130},{75,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,128}}</string>
        <key>sourceSize</key>
        <string>{75,128}</string>
      </dict>
      <key>part2-zhiliao_3_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{27,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,400}}</string>
        <key>sourceSize</key>
        <string>{27,400}</string>
      </dict>
      <key>part2-zhiliao_3_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{27,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,400}}</string>
        <key>sourceSize</key>
        <string>{27,400}</string>
      </dict>
      <key>part2-zhiliao_3_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{126,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,83}}</string>
        <key>sourceSize</key>
        <string>{126,83}</string>
      </dict>
      <key>part2-zhiliao_3_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,0},{20,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,50}}</string>
        <key>sourceSize</key>
        <string>{20,50}</string>
      </dict>
      <key>part-zhiliao_1_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,390},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,441},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,419},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,345},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,390},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,390},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,409},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part-zhiliao_1_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,426},{102,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,62}}</string>
        <key>sourceSize</key>
        <string>{102,62}</string>
      </dict>
      <key>part2-zhiliao_3_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{128,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,77}}</string>
        <key>sourceSize</key>
        <string>{128,77}</string>
      </dict>
      <key>part2-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_zd_zhiliao_danti.png</string>
      <key>textureFileName</key>
      <string>tx_zd_zhiliao_danti.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>