<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_shijieboss34.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,324},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss32.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,398},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss30.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,469},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss28.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,435},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss26.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,432},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss21.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,361},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss19.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,469},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss17.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,435},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss15.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,472},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss12.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,432},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,469},{98,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,35}}</string>
        <key>sourceSize</key>
        <string>{98,35}</string>
      </dict>
      <key>part-tx_ui_shijieboss07.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,216},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss06.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,216},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss04.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss02.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,108},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss40.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,108},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss39.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss38.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss35.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,324},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss24.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,108},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss13.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,216},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss01.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,324},{110,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,106}}</string>
        <key>sourceSize</key>
        <string>{110,106}</string>
      </dict>
      <key>part-tx_ui_shijieboss001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_shijieboss.png</string>
      <key>textureFileName</key>
      <string>tx_ui_shijieboss.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>