<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_jiemianuia003.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,372},{59,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,34}}</string>
        <key>sourceSize</key>
        <string>{59,34}</string>
      </dict>
      <key>part-tx_ui_jiemianuia001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>part-tx_ui_denglong02.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{90,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,88}}</string>
        <key>sourceSize</key>
        <string>{90,88}</string>
      </dict>
      <key>part-tx_ui_denglong01.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{90,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,88}}</string>
        <key>sourceSize</key>
        <string>{90,88}</string>
      </dict>
      <key>part-tx_ui_touxiang07.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,310},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang08.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,62},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang10.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,62},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang11.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,338},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang12.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,90},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang13.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,248},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang14.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,124},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang15.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,310},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang17.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,124},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang18.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,248},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang19.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,152},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang20.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,338},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang21.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,186},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang22.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,276},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang23.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,186},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang24.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang25.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,214},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang26.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang28.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang29.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,62},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang30.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,90},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang32.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,124},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang34.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,152},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang35.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang36.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,186},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang01.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,186},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang02.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,214},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang03.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,248},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang04.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,248},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang05.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,276},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang16.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,310},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang27.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,310},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_touxiang37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>part-tx_ui_jiemianuia002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,90},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_jiemianuia.png</string>
      <key>textureFileName</key>
      <string>tx_ui_jiemianuia.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>