<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_huangzi_luoshi09.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,0},{238,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,198}}</string>
    <key>sourceSize</key>
    <string>{238,198}</string>
   </dict>
   <key>part-tx_huangzi_luoshi14.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,267},{140,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,65}}</string>
    <key>sourceSize</key>
    <string>{140,65}</string>
   </dict>
   <key>part-tx_huangzi_luoshi13.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,200},{140,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,65}}</string>
    <key>sourceSize</key>
    <string>{140,65}</string>
   </dict>
   <key>part-tx_huangzi_luoshi12.png</key>
   <dict>
    <key>frame</key>
    <string>{{862,200},{140,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,65}}</string>
    <key>sourceSize</key>
    <string>{140,65}</string>
   </dict>
   <key>part-tx_huangzi_luoshi11.png</key>
   <dict>
    <key>frame</key>
    <string>{{720,200},{140,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,65}}</string>
    <key>sourceSize</key>
    <string>{140,65}</string>
   </dict>
   <key>part-tx_huangzi_luoshi01.png</key>
   <dict>
    <key>frame</key>
    <string>{{475,200},{243,79}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{243,79}}</string>
    <key>sourceSize</key>
    <string>{243,79}</string>
   </dict>
   <key>part-tx_huangzi_luoshi05.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{238,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,198}}</string>
    <key>sourceSize</key>
    <string>{238,198}</string>
   </dict>
   <key>part-tx_huangzi_luoshi0i6.png</key>
   <dict>
    <key>frame</key>
    <string>{{480,0},{238,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,198}}</string>
    <key>sourceSize</key>
    <string>{238,198}</string>
   </dict>
   <key>part-tx_huangzi_luoshi0i7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,200},{238,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,198}}</string>
    <key>sourceSize</key>
    <string>{238,198}</string>
   </dict>
   <key>part-tx_huangzi_luoshi08.png</key>
   <dict>
    <key>frame</key>
    <string>{{720,0},{238,198}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{238,198}}</string>
    <key>sourceSize</key>
    <string>{238,198}</string>
   </dict>
   <key>part-tx_huangzi_luoshi10.png</key>
   <dict>
    <key>frame</key>
    <string>{{382,200},{91,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{91,77}}</string>
    <key>sourceSize</key>
    <string>{91,77}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{960,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_huangzi_luoshi.png</string>
   <key>textureFileName</key>
   <string>tx_huangzi_luoshi.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>