<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_huangzi_gunmu15.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,0},{180,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,256}}</string>
    <key>sourceSize</key>
    <string>{180,256}</string>
   </dict>
   <key>part-tx_huangzi_gunmu14.png</key>
   <dict>
    <key>frame</key>
    <string>{{182,258},{174,131}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,131}}</string>
    <key>sourceSize</key>
    <string>{174,131}</string>
   </dict>
   <key>part-tx_huangzi_gunmu13.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,258},{180,134}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,134}}</string>
    <key>sourceSize</key>
    <string>{180,134}</string>
   </dict>
   <key>part-tx_huangzi_gunmu12.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{180,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,256}}</string>
    <key>sourceSize</key>
    <string>{180,256}</string>
   </dict>
   <key>part-tx_huangzi_gunmu11.png</key>
   <dict>
    <key>frame</key>
    <string>{{364,0},{180,256}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,256}}</string>
    <key>sourceSize</key>
    <string>{180,256}</string>
   </dict>
   <key>part-tx_huangzi_gunmu10.png</key>
   <dict>
    <key>frame</key>
    <string>{{546,0},{180,218}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{180,218}}</string>
    <key>sourceSize</key>
    <string>{180,218}</string>
   </dict>
   <key>part-tx_huangzi_gunmu09.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,0},{178,194}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{178,194}}</string>
    <key>sourceSize</key>
    <string>{178,194}</string>
   </dict>
   <key>part-tx_huangzi_gunmu08.png</key>
   <dict>
    <key>frame</key>
    <string>{{546,220},{174,144}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{174,144}}</string>
    <key>sourceSize</key>
    <string>{174,144}</string>
   </dict>
   <key>part-tx_huangzi_gunmu07.png</key>
   <dict>
    <key>frame</key>
    <string>{{728,196},{166,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{166,159}}</string>
    <key>sourceSize</key>
    <string>{166,159}</string>
   </dict>
   <key>part-tx_huangzi_gunmu17.png</key>
   <dict>
    <key>frame</key>
    <string>{{722,357},{260,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{260,20}}</string>
    <key>sourceSize</key>
    <string>{260,20}</string>
   </dict>
   <key>part-tx_huangzi_gunmu06.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,258},{60,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,160}}</string>
    <key>sourceSize</key>
    <string>{60,160}</string>
   </dict>
   <key>part-tx_huangzi_gunmu04.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,0},{60,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,160}}</string>
    <key>sourceSize</key>
    <string>{60,160}</string>
   </dict>
   <key>part-tx_huangzi_gunmu03.png</key>
   <dict>
    <key>frame</key>
    <string>{{420,258},{60,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,160}}</string>
    <key>sourceSize</key>
    <string>{60,160}</string>
   </dict>
   <key>part-tx_huangzi_gunmu02.png</key>
   <dict>
    <key>frame</key>
    <string>{{908,162},{60,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,160}}</string>
    <key>sourceSize</key>
    <string>{60,160}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_huangzi_gunmu.png</string>
   <key>textureFileName</key>
   <string>tx_huangzi_gunmu.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>