<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_huagadgngzi_jianyu18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,20}}</string>
        <key>sourceSize</key>
        <string>{260,20}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu11.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,266},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyui0.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,104},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu09.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,266},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu07.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,104},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu06.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,266},{110,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,160}}</string>
        <key>sourceSize</key>
        <string>{110,160}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyudilie.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,428},{110,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,40}}</string>
        <key>sourceSize</key>
        <string>{110,40}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu05.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,126},{100,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,20}}</string>
        <key>sourceSize</key>
        <string>{100,20}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyui_quan.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,428},{132,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,52}}</string>
        <key>sourceSize</key>
        <string>{132,52}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu04.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{220,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,50}}</string>
        <key>sourceSize</key>
        <string>{220,50}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,22},{220,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,50}}</string>
        <key>sourceSize</key>
        <string>{220,50}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyu02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{220,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,50}}</string>
        <key>sourceSize</key>
        <string>{220,50}</string>
      </dict>
      <key>part-tx_huagadgngzi_jianyui01.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,52},{220,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,50}}</string>
        <key>sourceSize</key>
        <string>{220,50}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_huangzi_jianyu.png</string>
      <key>textureFileName</key>
      <string>tx_huangzi_jianyu.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>