<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-bb_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,115},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,78},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,193},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,41},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,230},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,193},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_02022.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,225},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,152},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,108},{82,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,83}}</string>
        <key>sourceSize</key>
        <string>{82,83}</string>
      </dict>
      <key>part-daoguang.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{69,142}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,142}}</string>
        <key>sourceSize</key>
        <string>{69,142}</string>
      </dict>
      <key>part-bb_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,189},{67,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,34}}</string>
        <key>sourceSize</key>
        <string>{67,34}</string>
      </dict>
      <key>part-bb_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,173},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>part-bb_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,108},{10,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,20}}</string>
        <key>sourceSize</key>
        <string>{10,20}</string>
      </dict>
      <key>part-bb_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{44,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>part-bb_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,108},{33,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,39}}</string>
        <key>sourceSize</key>
        <string>{33,39}</string>
      </dict>
      <key>part-bb_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,149},{11,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,18}}</string>
        <key>sourceSize</key>
        <string>{11,18}</string>
      </dict>
      <key>part-bb_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{6,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,13}}</string>
        <key>sourceSize</key>
        <string>{6,13}</string>
      </dict>
      <key>part-bb_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,145},{9,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,14}}</string>
        <key>sourceSize</key>
        <string>{9,14}</string>
      </dict>
      <key>part-bb_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,169},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>part-bb_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,174},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>part-bb_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,149},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>part-bb_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,130},{10,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,13}}</string>
        <key>sourceSize</key>
        <string>{10,13}</string>
      </dict>
      <key>part-bb_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,225},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>part-bb_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,106}}</string>
        <key>sourceSize</key>
        <string>{200,106}</string>
      </dict>
      <key>part-renwu_chuji_bubing_kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,161},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>renwu_chuji_bubing.png</string>
      <key>textureFileName</key>
      <string>renwu_chuji_bubing.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>