<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-te_huoqiajngshou_beiji06.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,204},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-te_huoqiajngshou_beiji05.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,102},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-te_huoqiajngshou_beiji04.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,200},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-te_huoqiajngshou_beiji03.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,200},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-te_huoqiajngshou_beiji02.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,102},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-te_huoqiajngshou_beiji01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{110,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan005.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan003.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongyan001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,102},{110,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,100}}</string>
        <key>sourceSize</key>
        <string>{110,100}</string>
      </dict>
      <key>part-tx_huoqiajngshou_pugongy_kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_huoqiajngshou_pugong.png</string>
      <key>textureFileName</key>
      <string>tx_huoqiajngshou_pugong.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>