<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_gongbing_pugong08.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,0},{20,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,120}}</string>
        <key>sourceSize</key>
        <string>{20,120}</string>
      </dict>
      <key>part-tx_gongbing_pugong09.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{20,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,75}}</string>
        <key>sourceSize</key>
        <string>{20,75}</string>
      </dict>
      <key>part-tx_gongbing_pugong05.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,122},{145,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,100}}</string>
        <key>sourceSize</key>
        <string>{145,100}</string>
      </dict>
      <key>part-tx_gongbing_pugong04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,358},{145,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,100}}</string>
        <key>sourceSize</key>
        <string>{145,100}</string>
      </dict>
      <key>part-tx_gongbing_pugong03.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,336},{145,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,100}}</string>
        <key>sourceSize</key>
        <string>{145,100}</string>
      </dict>
      <key>part-tx_gongbing_pugong02.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,326},{145,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,100}}</string>
        <key>sourceSize</key>
        <string>{145,100}</string>
      </dict>
      <key>part-tx_gongbing_pugong01.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,224},{145,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,100}}</string>
        <key>sourceSize</key>
        <string>{145,100}</string>
      </dict>
      <key>part-tx_gongbing_yan0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,20}}</string>
        <key>sourceSize</key>
        <string>{260,20}</string>
      </dict>
      <key>part-tx_gongbing_yan006.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-tx_gongbing_yan005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-tx_gongbing_yan004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-tx_gongbing_yan003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,224},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-tx_gongbing_yan002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,112},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-tx_gongbing_yan001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,22},{170,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,110}}</string>
        <key>sourceSize</key>
        <string>{170,110}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_gongbing_pugong.png</string>
      <key>textureFileName</key>
      <string>tx_gongbing_pugong.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>