<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_zhucheng_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,104},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,154},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,154},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,104},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{24,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,204},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,204},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,204},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,154},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,156},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,104},{22,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,48}}</string>
        <key>sourceSize</key>
        <string>{22,48}</string>
      </dict>
      <key>part-tx_zhucheng_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,104},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,104},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,52},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part-tx_zhucheng_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,104},{40,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,50}}</string>
        <key>sourceSize</key>
        <string>{40,50}</string>
      </dict>
      <key>part01-tx_zhucheng_hudielan04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudielan03.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,206},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudielan02.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,226},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudielan01.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,206},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudiezi04.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,226},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudiezi03.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,206},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudiezi02.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,206},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part01-tx_zhucheng_hudiezi01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>part-tx_zhucheng_kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,104},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_zhucheng.png</string>
      <key>textureFileName</key>
      <string>tx_zhucheng.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>