<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_loading_di0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,142},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,142},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,142},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_di0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{85,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,140}}</string>
        <key>sourceSize</key>
        <string>{85,140}</string>
      </dict>
      <key>part-tx_ui_loading_jia.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,52},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>part-tx_ui_loading_zai.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,100},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>part-tx_ui_loading_dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,142},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>part-tx_ui_loading_diying.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,52},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_loading.png</string>
      <key>textureFileName</key>
      <string>tx_ui_loading.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>