<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-gongjianbing.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{63,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,88}}</string>
        <key>sourceSize</key>
        <string>{63,88}</string>
      </dict>
      <key>part-bb_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,108},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,123},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,86},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,108},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,145},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,145},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_02022.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,160},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-bb_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,49},{46,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,35}}</string>
        <key>sourceSize</key>
        <string>{46,35}</string>
      </dict>
      <key>part-gj_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,182},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>part-gj_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,123},{10,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,14}}</string>
        <key>sourceSize</key>
        <string>{10,14}</string>
      </dict>
      <key>part-gj_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,175},{8,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,13}}</string>
        <key>sourceSize</key>
        <string>{8,13}</string>
      </dict>
      <key>part-gj_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{44,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,47}}</string>
        <key>sourceSize</key>
        <string>{44,47}</string>
      </dict>
      <key>part-gj_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,170},{12,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,19}}</string>
        <key>sourceSize</key>
        <string>{12,19}</string>
      </dict>
      <key>part-gj_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{6,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,13}}</string>
        <key>sourceSize</key>
        <string>{6,13}</string>
      </dict>
      <key>part-gj_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,143},{9,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,15}}</string>
        <key>sourceSize</key>
        <string>{9,15}</string>
      </dict>
      <key>part-gj_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,182},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>part-gj_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,169},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>part-gj_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,143},{20,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>part-gj_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,155},{10,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,13}}</string>
        <key>sourceSize</key>
        <string>{10,13}</string>
      </dict>
      <key>part-gj_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,139},{10,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,14}}</string>
        <key>sourceSize</key>
        <string>{10,14}</string>
      </dict>
      <key>part-gj_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,160},{8,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,13}}</string>
        <key>sourceSize</key>
        <string>{8,13}</string>
      </dict>
      <key>part-gj_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,108},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>part-gj_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,182},{39,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,25}}</string>
        <key>sourceSize</key>
        <string>{39,25}</string>
      </dict>
      <key>part-gj_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,106}}</string>
        <key>sourceSize</key>
        <string>{200,106}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,182},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>renwu_chuji_gongjianbing.png</string>
      <key>textureFileName</key>
      <string>renwu_chuji_gongjianbing.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>