<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_doanghua_xiaotu01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,202},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-tx_doanghua_xiaotu02.png</key>
   <dict>
    <key>frame</key>
    <string>{{504,0},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-tx_doanghua_xiaotu03.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,202},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-tx_doanghua_xiaotu04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-tx_doanghua_xiaotu05.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,0},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-tx_doanghua_xiaotu06.png</key>
   <dict>
    <key>frame</key>
    <string>{{756,0},{250,200}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,200}}</string>
    <key>sourceSize</key>
    <string>{250,200}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1008,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_piantou_donghua02.png</string>
   <key>textureFileName</key>
   <string>tx_piantou_donghua02.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>