<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_jiemianuib06.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,306},{67,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,75}}</string>
        <key>sourceSize</key>
        <string>{67,75}</string>
      </dict>
      <key>part-tx_ui_jiemianuib05.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,196},{78,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,89}}</string>
        <key>sourceSize</key>
        <string>{78,89}</string>
      </dict>
      <key>part-tx_ui_jiemianuib04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{96,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,90}}</string>
        <key>sourceSize</key>
        <string>{96,90}</string>
      </dict>
      <key>part-tx_ui_jiemianuib03.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,196},{110,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,82}}</string>
        <key>sourceSize</key>
        <string>{110,82}</string>
      </dict>
      <key>part-tx_ui_jiemianuib02.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,254},{101,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,71}}</string>
        <key>sourceSize</key>
        <string>{101,71}</string>
      </dict>
      <key>part-tx_ui_jiemianuib14.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,287},{81,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,64}}</string>
        <key>sourceSize</key>
        <string>{81,64}</string>
      </dict>
      <key>part-tx_ui_jiemianuib13.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,164},{55,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,68}}</string>
        <key>sourceSize</key>
        <string>{55,68}</string>
      </dict>
      <key>part-tx_ui_jiemianuib12.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,234},{51,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,70}}</string>
        <key>sourceSize</key>
        <string>{51,70}</string>
      </dict>
      <key>part-tx_ui_jiemianuib11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{55,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,60}}</string>
        <key>sourceSize</key>
        <string>{55,60}</string>
      </dict>
      <key>part-tx_ui_jiemianuib08.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,426},{71,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,57}}</string>
        <key>sourceSize</key>
        <string>{71,57}</string>
      </dict>
      <key>part-tx_ui_jiemianuib07.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,405},{72,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,63}}</string>
        <key>sourceSize</key>
        <string>{72,63}</string>
      </dict>
      <key>part-tx_ui_ciguan02.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,164},{98,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,102}}</string>
        <key>sourceSize</key>
        <string>{98,102}</string>
      </dict>
      <key>part-tx_ui_ciguan01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,97}}</string>
        <key>sourceSize</key>
        <string>{198,97}</string>
      </dict>
      <key>part-tx_ui_ciguan06.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,166},{47,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,54}}</string>
        <key>sourceSize</key>
        <string>{47,54}</string>
      </dict>
      <key>part-tx_ui_ciguan04.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,222},{47,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,54}}</string>
        <key>sourceSize</key>
        <string>{47,54}</string>
      </dict>
      <key>part-tx_ui_ciguan07.png</key>
      <dict>
        <key>frame</key>
        <string>{{970,278},{50,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,54}}</string>
        <key>sourceSize</key>
        <string>{50,54}</string>
      </dict>
      <key>part-tx_ui_ciguan03.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,82},{44,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,50}}</string>
        <key>sourceSize</key>
        <string>{44,50}</string>
      </dict>
      <key>part-tx_ui_ciguan09.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan08.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,82},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan17.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,0},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan16.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,82},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,82},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,0},{200,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,80}}</string>
        <key>sourceSize</key>
        <string>{200,80}</string>
      </dict>
      <key>part-tx_ui_ciguan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,82},{168,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,80}}</string>
        <key>sourceSize</key>
        <string>{168,80}</string>
      </dict>
      <key>part-tx_ui_ciguan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,164},{126,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,80}}</string>
        <key>sourceSize</key>
        <string>{126,80}</string>
      </dict>
      <key>part-tx_ui_ciguan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,254},{81,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,73}}</string>
        <key>sourceSize</key>
        <string>{81,73}</string>
      </dict>
      <key>part-tx_ui_jiemianuib111.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,246},{104,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,80}}</string>
        <key>sourceSize</key>
        <string>{104,80}</string>
      </dict>
      <key>part-tx_ui_jiemianuib1112.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,387},{81,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,58}}</string>
        <key>sourceSize</key>
        <string>{81,58}</string>
      </dict>
      <key>part-tx_ui_jiemianuib110.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,164},{114,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,88}}</string>
        <key>sourceSize</key>
        <string>{114,88}</string>
      </dict>
      <key>part-tx_ui_jiemianuib119.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,237},{87,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,71}}</string>
        <key>sourceSize</key>
        <string>{87,71}</string>
      </dict>
      <key>part-tx_ui_jiemianuib014.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,164},{198,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,30}}</string>
        <key>sourceSize</key>
        <string>{198,30}</string>
      </dict>
      <key>part-tx_ui_jiemianuib91.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,134},{45,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,30}}</string>
        <key>sourceSize</key>
        <string>{45,30}</string>
      </dict>
      <key>part-tx_ui_jiemianuib89.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,432},{88,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,24}}</string>
        <key>sourceSize</key>
        <string>{88,24}</string>
      </dict>
      <key>part-tx_ui_jiemianuib88.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,406},{106,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,27}}</string>
        <key>sourceSize</key>
        <string>{106,27}</string>
      </dict>
      <key>part-tx_ui_jiemianuib87.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,411},{100,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,28}}</string>
        <key>sourceSize</key>
        <string>{100,28}</string>
      </dict>
      <key>part-tx_ui_jiemianuib86.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,430},{85,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,28}}</string>
        <key>sourceSize</key>
        <string>{85,28}</string>
      </dict>
      <key>part-tx_ui_jiemianuib85.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,329},{47,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,27}}</string>
        <key>sourceSize</key>
        <string>{47,27}</string>
      </dict>
      <key>part-tx_ui_jiemianuib018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{110,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,120}}</string>
        <key>sourceSize</key>
        <string>{110,120}</string>
      </dict>
      <key>part-tx_ui_jiemianuib017.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,164},{79,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,88}}</string>
        <key>sourceSize</key>
        <string>{79,88}</string>
      </dict>
      <key>part-tx_ui_jiemianuib011.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,164},{101,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,113}}</string>
        <key>sourceSize</key>
        <string>{101,113}</string>
      </dict>
      <key>part-tx_ui_jiemianuib010.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,268},{74,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,79}}</string>
        <key>sourceSize</key>
        <string>{74,79}</string>
      </dict>
      <key>part-tx_ui_jiemianuib002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,328},{58,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,60}}</string>
        <key>sourceSize</key>
        <string>{58,60}</string>
      </dict>
      <key>part-tx_ui_jiemianuib012.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,280},{76,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>part-tx_ui_jiemianuib021.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,99},{75,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,136}}</string>
        <key>sourceSize</key>
        <string>{75,136}</string>
      </dict>
      <key>image-tx_ui_jiemianuib055.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,430},{84,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,30}}</string>
        <key>sourceSize</key>
        <string>{84,30}</string>
      </dict>
      <key>part-tx_ui_jiemianuib004.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,404},{67,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,71}}</string>
        <key>sourceSize</key>
        <string>{67,71}</string>
      </dict>
      <key>part-tx_ui_hunpo12.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,328},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo11.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,349},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo09.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,353},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo08.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,355},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo07.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,329},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo06.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,327},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo05.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,310},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo04.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,334},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo03.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,353},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo02.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,383},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo01.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,353},{65,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,75}}</string>
        <key>sourceSize</key>
        <string>{65,75}</string>
      </dict>
      <key>part-tx_ui_hunpo13.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,279},{74,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,74}}</string>
        <key>sourceSize</key>
        <string>{74,74}</string>
      </dict>
      <key>part-tx_ui_jiemianuib009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_jiemianuib.png</string>
      <key>textureFileName</key>
      <string>tx_ui_jiemianuib.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>