<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_zd_heli_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,182},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,182},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,182},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,0},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,0},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,182},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_heli_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{150,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,180}}</string>
        <key>sourceSize</key>
        <string>{150,180}</string>
      </dict>
      <key>part-tx_zd_yiliao_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>part-tx_zd_yiliao_fazheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,260}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,260}}</string>
        <key>sourceSize</key>
        <string>{260,260}</string>
      </dict>
      <key>part-tx_zd_yiliao_guangtiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,182},{150,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,80}}</string>
        <key>sourceSize</key>
        <string>{150,80}</string>
      </dict>
      <key>part-tx_zd_helikong.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,262},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_zd_heli.png</string>
      <key>textureFileName</key>
      <string>tx_zd_heli.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>