<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_lalian02.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,385},{220,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,48}}</string>
        <key>sourceSize</key>
        <string>{220,48}</string>
      </dict>
      <key>part-tx_ui_lalian03.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,292},{220,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,91}}</string>
        <key>sourceSize</key>
        <string>{220,91}</string>
      </dict>
      <key>part-tx_ui_lalian04.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,292},{220,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,131}}</string>
        <key>sourceSize</key>
        <string>{220,131}</string>
      </dict>
      <key>part-tx_ui_lalian05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{220,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,161}}</string>
        <key>sourceSize</key>
        <string>{220,161}</string>
      </dict>
      <key>part-tx_ui_lalian06.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,254},{220,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,205}}</string>
        <key>sourceSize</key>
        <string>{220,205}</string>
      </dict>
      <key>part-tx_ui_lalian07.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{220,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,252}}</string>
        <key>sourceSize</key>
        <string>{220,252}</string>
      </dict>
      <key>part-tx_ui_lalian10.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{220,290}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,290}}</string>
        <key>sourceSize</key>
        <string>{220,290}</string>
      </dict>
      <key>part-tx_ui_lalian09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,290}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,290}}</string>
        <key>sourceSize</key>
        <string>{220,290}</string>
      </dict>
      <key>part-tx_ui_lalian08.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{220,290}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,290}}</string>
        <key>sourceSize</key>
        <string>{220,290}</string>
      </dict>
      <key>part-tx_ui_lalian001.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_lalian.png</string>
      <key>textureFileName</key>
      <string>tx_ui_lalian.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>