<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_qianghua21.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,222},{89,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,59}}</string>
        <key>sourceSize</key>
        <string>{89,59}</string>
      </dict>
      <key>part-tx_ui_qianghua20.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,222},{90,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,58}}</string>
        <key>sourceSize</key>
        <string>{90,58}</string>
      </dict>
      <key>part-tx_ui_qianghua19.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,222},{87,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,60}}</string>
        <key>sourceSize</key>
        <string>{87,60}</string>
      </dict>
      <key>part-tx_ui_qianghua02.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,222},{87,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,56}}</string>
        <key>sourceSize</key>
        <string>{87,56}</string>
      </dict>
      <key>part-tx_ui_qianghua03.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,222},{103,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,58}}</string>
        <key>sourceSize</key>
        <string>{103,58}</string>
      </dict>
      <key>part-tx_ui_qianghua01.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,222},{67,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,61}}</string>
        <key>sourceSize</key>
        <string>{67,61}</string>
      </dict>
      <key>part-tx_ui_qianghua14.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,222},{100,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,57}}</string>
        <key>sourceSize</key>
        <string>{100,57}</string>
      </dict>
      <key>part-tx_ui_qianghua13.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,0},{28,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,60}}</string>
        <key>sourceSize</key>
        <string>{28,60}</string>
      </dict>
      <key>part-tx_ui_qianghua18.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,222},{192,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,56}}</string>
        <key>sourceSize</key>
        <string>{192,56}</string>
      </dict>
      <key>part-tx_ui_qianghua007.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua006.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua005.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua004.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{160,220}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,220}}</string>
        <key>sourceSize</key>
        <string>{160,220}</string>
      </dict>
      <key>part-tx_ui_qianghua008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_qianghua.png</string>
      <key>textureFileName</key>
      <string>tx_ui_qianghua.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>