<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_qibing_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{130,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,140}}</string>
        <key>sourceSize</key>
        <string>{130,140}</string>
      </dict>
      <key>part-tx_qibing_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>part-tx_qibing_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,264},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>part-tx_qibing_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,132},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>part-tx_qibing_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>part-tx_qibing_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>part-tx_qibing_0066.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{170,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,130}}</string>
        <key>sourceSize</key>
        <string>{170,130}</string>
      </dict>
      <key>tx_qibing_pugong_daoguang_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,142},{148,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>tx_qibing_pugong_daoguang_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,370},{148,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>tx_qibing_pugong_daoguang_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,256},{148,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,112}}</string>
        <key>sourceSize</key>
        <string>{148,112}</string>
      </dict>
      <key>part-tx_qibingkong.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_qibing_pugong1.png</string>
      <key>textureFileName</key>
      <string>tx_qibing_pugong1.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>