<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_huangzi_guwushiqi_lizi .png</key>
      <dict>
        <key>frame</key>
        <string>{{796,202},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi_fw.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,279},{50,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,195}}</string>
        <key>sourceSize</key>
        <string>{50,195}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqiguang.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,280},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi_guangtiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,298},{147,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,80}}</string>
        <key>sourceSize</key>
        <string>{147,80}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqifazheng.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,0},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi008.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,224},{151,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,138}}</string>
        <key>sourceSize</key>
        <string>{151,138}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi007.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,202},{163,159}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,159}}</string>
        <key>sourceSize</key>
        <string>{163,159}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi006.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,0},{165,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,222}}</string>
        <key>sourceSize</key>
        <string>{165,222}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{166,277}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,277}}</string>
        <key>sourceSize</key>
        <string>{166,277}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi004 .png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,314}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,314}}</string>
        <key>sourceSize</key>
        <string>{170,314}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{144,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,296}}</string>
        <key>sourceSize</key>
        <string>{144,296}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{143,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,278}}</string>
        <key>sourceSize</key>
        <string>{143,278}</string>
      </dict>
      <key>part-tx_huangzi_guwushiqi001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,279},{99,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,148}}</string>
        <key>sourceSize</key>
        <string>{99,148}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_huangzi_guwushiqi.png</string>
      <key>textureFileName</key>
      <string>tx_huangzi_guwushiqi.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>