<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_zhandouui004.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,274},{41,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,39}}</string>
        <key>sourceSize</key>
        <string>{41,39}</string>
      </dict>
      <key>part-tx_ui_zhandouui003.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,271},{41,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,39}}</string>
        <key>sourceSize</key>
        <string>{41,39}</string>
      </dict>
      <key>part-tx_ui_zhandouui005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,199},{74,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,72}}</string>
        <key>sourceSize</key>
        <string>{74,72}</string>
      </dict>
      <key>part-tx_ui_zhandouui002.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{115,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,127}}</string>
        <key>sourceSize</key>
        <string>{115,127}</string>
      </dict>
      <key>part-tx_ui_zhandouui09.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,240},{124,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,106}}</string>
        <key>sourceSize</key>
        <string>{124,106}</string>
      </dict>
      <key>part-tx_ui_zhandouui07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{103,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,86}}</string>
        <key>sourceSize</key>
        <string>{103,86}</string>
      </dict>
      <key>part-tx_ui_zhandouui10.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,273},{72,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,72}}</string>
        <key>sourceSize</key>
        <string>{72,72}</string>
      </dict>
      <key>part-tx_ui_zhandouui04.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,126},{71,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,75}}</string>
        <key>sourceSize</key>
        <string>{71,75}</string>
      </dict>
      <key>part-tx_ui_zhandouui11.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,129},{96,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,109}}</string>
        <key>sourceSize</key>
        <string>{96,109}</string>
      </dict>
      <key>part-tx_ui_zhandouui06.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,274},{80,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,81}}</string>
        <key>sourceSize</key>
        <string>{80,81}</string>
      </dict>
      <key>part-tx_ui_zhandouui05.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,274},{85,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,76}}</string>
        <key>sourceSize</key>
        <string>{85,76}</string>
      </dict>
      <key>part-tx_ui_zhandouui12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{456,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{456,100}}</string>
        <key>sourceSize</key>
        <string>{456,100}</string>
      </dict>
      <key>part-tx_ui_zhandouui33.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>part-tx_ui_zhandouui32.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,126},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>part-tx_ui_zhandouui31.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,102},{170,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,170}}</string>
        <key>sourceSize</key>
        <string>{170,170}</string>
      </dict>
      <key>part-tx_ui_zhandouui16.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,199},{127,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,139}}</string>
        <key>sourceSize</key>
        <string>{127,139}</string>
      </dict>
      <key>part-tx_ui_zhandouui15.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,102},{101,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,108}}</string>
        <key>sourceSize</key>
        <string>{101,108}</string>
      </dict>
      <key>part-tx_ui_zhandouui14.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,203},{64,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,66}}</string>
        <key>sourceSize</key>
        <string>{64,66}</string>
      </dict>
      <key>part-tx_ui_zhandouui03.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,212},{83,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,83}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>part-tx_ui_zhandouui13.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{243,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,124}}</string>
        <key>sourceSize</key>
        <string>{243,124}</string>
      </dict>
      <key>part-tx_ui_zhandouui01.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,297},{31,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,30}}</string>
        <key>sourceSize</key>
        <string>{31,30}</string>
      </dict>
      <key>part-tx_ui_zhandouui02.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,297},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>part-tx_ui_zhandouui08.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,0},{194,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,197}}</string>
        <key>sourceSize</key>
        <string>{194,197}</string>
      </dict>
      <key>part-tx_ui_zhandouui001.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,129},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_zhandouui.png</string>
      <key>textureFileName</key>
      <string>tx_ui_zhandouui.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>