<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_jiemianui001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,282},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,282},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,102},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,226},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui005.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,164},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui006.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,282},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{85,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,60}}</string>
        <key>sourceSize</key>
        <string>{85,60}</string>
      </dict>
      <key>part-tx_ui_jiemianui06.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,25},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,25},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui04.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui03.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui02.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui01.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,25},{70,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,100}}</string>
        <key>sourceSize</key>
        <string>{70,100}</string>
      </dict>
      <key>part-tx_ui_jiemianui57.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,222},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui56.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui55.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,162},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui54.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,102},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui52.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,102},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui51.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,162},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui46.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,222},{98,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,58}}</string>
        <key>sourceSize</key>
        <string>{98,58}</string>
      </dict>
      <key>part-tx_ui_jiemianui39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{130,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,30}}</string>
        <key>sourceSize</key>
        <string>{130,30}</string>
      </dict>
      <key>part-tx_ui_jiemianui38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,191},{130,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,30}}</string>
        <key>sourceSize</key>
        <string>{130,30}</string>
      </dict>
      <key>part-tx_ui_jiemianui37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{130,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,30}}</string>
        <key>sourceSize</key>
        <string>{130,30}</string>
      </dict>
      <key>part-tx_ui_jiemianui63.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,127},{71,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,66}}</string>
        <key>sourceSize</key>
        <string>{71,66}</string>
      </dict>
      <key>part-tx_ui_jiemianui23.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,432},{86,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,43}}</string>
        <key>sourceSize</key>
        <string>{86,43}</string>
      </dict>
      <key>part-tx_ui_jiemianui222.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,432},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui61.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,344},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui66.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,388},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui67.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,344},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui47.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,432},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui53.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui64.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,288},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui17.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,332},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui16.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,344},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui18.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,376},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui19.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,388},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui20.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,420},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{88,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,42}}</string>
        <key>sourceSize</key>
        <string>{88,42}</string>
      </dict>
      <key>part-tx_ui_jiemianui21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{263,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{263,23}}</string>
        <key>sourceSize</key>
        <string>{263,23}</string>
      </dict>
      <key>part-tx_ui_jiemianui009.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_jiemianui.png</string>
      <key>textureFileName</key>
      <string>tx_ui_jiemianui.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>