<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part01-tx_ui_guangqia_shang_009.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,0},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_008.png</key>
   <dict>
    <key>frame</key>
    <string>{{737,0},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_007.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,144},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_006.png</key>
   <dict>
    <key>frame</key>
    <string>{{737,72},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_005.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,72},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_004.png</key>
   <dict>
    <key>frame</key>
    <string>{{535,0},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_003.png</key>
   <dict>
    <key>frame</key>
    <string>{{737,144},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_002.png</key>
   <dict>
    <key>frame</key>
    <string>{{535,72},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_shang_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{535,144},{200,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,70}}</string>
    <key>sourceSize</key>
    <string>{200,70}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_009.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_008.png</key>
   <dict>
    <key>frame</key>
    <string>{{74,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_007.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_006.png</key>
   <dict>
    <key>frame</key>
    <string>{{185,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_005.png</key>
   <dict>
    <key>frame</key>
    <string>{{111,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_004.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_003.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_002.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part01-tx_ui_guangqia_zuo_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{259,0},{35,330}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,330}}</string>
    <key>sourceSize</key>
    <string>{35,330}</string>
   </dict>
   <key>part02-tx_ui_guanqia_012.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,306},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_011.png</key>
   <dict>
    <key>frame</key>
    <string>{{517,276},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_010.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,246},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_009.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,216},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_008.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,246},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_007.png</key>
   <dict>
    <key>frame</key>
    <string>{{517,306},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_006.png</key>
   <dict>
    <key>frame</key>
    <string>{{517,216},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_005.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,216},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_004.png</key>
   <dict>
    <key>frame</key>
    <string>{{517,246},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_003.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,276},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_002.png</key>
   <dict>
    <key>frame</key>
    <string>{{733,276},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{333,306},{150,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,28}}</string>
    <key>sourceSize</key>
    <string>{150,28}</string>
   </dict>
   <key>part02-tx_ui_guanqia_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,142},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{939,0},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{917,284},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_09.png</key>
   <dict>
    <key>frame</key>
    <string>{{485,216},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,332},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{701,216},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{981,284},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,0},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{971,142},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{669,216},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,216},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-tx_ui_guanqia_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{949,284},{30,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,140}}</string>
    <key>sourceSize</key>
    <string>{30,140}</string>
   </dict>
   <key>part02-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{1003,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_ui_guanqiatishi.png</string>
   <key>textureFileName</key>
   <string>tx_ui_guanqiatishi.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>