<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_huoqiangbing_mingchenpugong_d10.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong_d08.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,152},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong_d06.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,152},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong_d03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong_d01.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,0},{150,150}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,150}}</string>
    <key>sourceSize</key>
    <string>{150,150}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong01.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,152},{204,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{204,20}}</string>
    <key>sourceSize</key>
    <string>{204,20}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong09.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,174},{110,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,110}}</string>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong08.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,398},{110,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,110}}</string>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong07.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,304},{110,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,110}}</string>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong06.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,286},{110,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,110}}</string>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>part-tx_huoqiangbing_mingchenpugong04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,304},{110,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,110}}</string>
    <key>sourceSize</key>
    <string>{110,110}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_huoqiangbing_mingchendanti.png</string>
   <key>textureFileName</key>
   <string>tx_huoqiangbing_mingchendanti.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>