<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_kezhi07.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,35},{77,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,33}}</string>
        <key>sourceSize</key>
        <string>{77,33}</string>
      </dict>
      <key>part-tx_ui_kezhi06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,36},{44,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,44}}</string>
        <key>sourceSize</key>
        <string>{44,44}</string>
      </dict>
      <key>part-tx_ui_kezhi08.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{76,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,33}}</string>
        <key>sourceSize</key>
        <string>{76,33}</string>
      </dict>
      <key>part-tx_ui_kezhi05.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,36},{29,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,29}}</string>
        <key>sourceSize</key>
        <string>{29,29}</string>
      </dict>
      <key>part-tx_ui_kezhi02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,20},{174,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,14}}</string>
        <key>sourceSize</key>
        <string>{174,14}</string>
      </dict>
      <key>part-tx_ui_kezhi01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,18}}</string>
        <key>sourceSize</key>
        <string>{176,18}</string>
      </dict>
      <key>part-tx_ui_kezhi001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,36},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_kezhi.png</string>
      <key>textureFileName</key>
      <string>tx_ui_kezhi.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>