<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_ui_mingchenchuchang_mozi.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,495},{403,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{403,121}}</string>
    <key>sourceSize</key>
    <string>{403,121}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo04.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,566},{254,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,210}}</string>
    <key>sourceSize</key>
    <string>{254,210}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,566},{254,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,210}}</string>
    <key>sourceSize</key>
    <string>{254,210}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo02.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,283},{254,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,210}}</string>
    <key>sourceSize</key>
    <string>{254,210}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo01.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,618},{254,210}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,210}}</string>
    <key>sourceSize</key>
    <string>{254,210}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo003.png</key>
   <dict>
    <key>frame</key>
    <string>{{268,830},{266,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{266,164}}</string>
    <key>sourceSize</key>
    <string>{266,164}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo002.png</key>
   <dict>
    <key>frame</key>
    <string>{{536,830},{266,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{266,164}}</string>
    <key>sourceSize</key>
    <string>{266,164}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_mo001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,778},{266,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{266,164}}</string>
    <key>sourceSize</key>
    <string>{266,164}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_uitiao_zi.png</key>
   <dict>
    <key>frame</key>
    <string>{{906,176},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,86}}</string>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_uitiao_cheng01.png</key>
   <dict>
    <key>frame</key>
    <string>{{906,88},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,86}}</string>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_uitiao_lan.png</key>
   <dict>
    <key>frame</key>
    <string>{{906,0},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,86}}</string>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_uitiao_lv.png</key>
   <dict>
    <key>frame</key>
    <string>{{906,264},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,86}}</string>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_uitiao_bai.png</key>
   <dict>
    <key>frame</key>
    <string>{{860,352},{90,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,86}}</string>
    <key>sourceSize</key>
    <string>{90,86}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_bg_cheng.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{300,281}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,281}}</string>
    <key>sourceSize</key>
    <string>{300,281}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_bg_zi.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,0},{300,281}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,281}}</string>
    <key>sourceSize</key>
    <string>{300,281}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_bg_lan.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,283},{300,281}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,281}}</string>
    <key>sourceSize</key>
    <string>{300,281}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_bg_lv.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,0},{300,281}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,281}}</string>
    <key>sourceSize</key>
    <string>{300,281}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_bg_bai.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,283},{300,281}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,281}}</string>
    <key>sourceSize</key>
    <string>{300,281}</string>
   </dict>
   <key>part-tx_ui_mingchenchuchang_heidi.png</key>
   <dict>
    <key>frame</key>
    <string>{{768,618},{190,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{190,80}}</string>
    <key>sourceSize</key>
    <string>{190,80}</string>
   </dict>
   <key>kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{998,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_ui_mingchenchuchang.png</string>
   <key>textureFileName</key>
   <string>tx_ui_mingchenchuchang.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>