<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{184,176},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{232,176},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,145},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{88,108},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,176},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,145},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,108},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_huoqiangbing_xiaobingyan_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{328,176},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing01.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,0},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing07.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,0},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing06.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,0},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing04.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,88},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing03.png</key>
   <dict>
    <key>frame</key>
    <string>{{290,88},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing02.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,88},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,108},{86,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{86,86}}</string>
    <key>sourceSize</key>
    <string>{86,86}</string>
   </dict>
   <key>part2-bingzhong_huoqiangbing_diying.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{200,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,106}}</string>
    <key>sourceSize</key>
    <string>{200,106}</string>
   </dict>
   <key>part2-renwu_chuji_huoqiangbing_kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{466,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>renwu_chuji_huoqiangbing_jiu.png</string>
   <key>textureFileName</key>
   <string>renwu_chuji_huoqiangbing_jiu.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>