<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_loading_dian.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,333},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>part-tx_ui_saodang1.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,289},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>part-tx_ui_saodang4.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,261},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>part-tx_ui_saodang16.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,309},{43,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,46}}</string>
        <key>sourceSize</key>
        <string>{43,46}</string>
      </dict>
      <key>part-tx_ui_saodang994.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,261},{152,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,91}}</string>
        <key>sourceSize</key>
        <string>{152,91}</string>
      </dict>
      <key>part-tx_ui_saodang93.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,366},{226,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{226,103}}</string>
        <key>sourceSize</key>
        <string>{226,103}</string>
      </dict>
      <key>part-tx_ui_saodang92.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,357},{310,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{310,128}}</string>
        <key>sourceSize</key>
        <string>{310,128}</string>
      </dict>
      <key>part-tx_ui_saodang91.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,289},{57,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,63}}</string>
        <key>sourceSize</key>
        <string>{57,63}</string>
      </dict>
      <key>part-tx_ui_saodang12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,287}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{219,287}}</string>
        <key>sourceSize</key>
        <string>{219,287}</string>
      </dict>
      <key>part-tx_ui_saodang11.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{203,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{203,259}}</string>
        <key>sourceSize</key>
        <string>{203,259}</string>
      </dict>
      <key>part-tx_ui_saodang10.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{196,277}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,277}}</string>
        <key>sourceSize</key>
        <string>{196,277}</string>
      </dict>
      <key>part-tx_ui_saodang9.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{184,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{184,266}}</string>
        <key>sourceSize</key>
        <string>{184,266}</string>
      </dict>
      <key>part-tx_ui_saodang8.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,0},{177,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,244}}</string>
        <key>sourceSize</key>
        <string>{177,244}</string>
      </dict>
      <key>part-tx_ui_saodang7.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,246},{106,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,173}}</string>
        <key>sourceSize</key>
        <string>{106,173}</string>
      </dict>
      <key>part-tx_ui_saodang003.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,246},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang23.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,268},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang3.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,268},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang101.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,279},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang995.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,279},{90,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>part-tx_ui_saodang002.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_saodang.png</string>
      <key>textureFileName</key>
      <string>tx_ui_saodang.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>