<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_huangzi_huopaodan_lizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,364},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>part-tx_huangzi_huopao_shizi.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,416},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>part-tx_huangzi_huopao_daguang.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,416},{147,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,80}}</string>
        <key>sourceSize</key>
        <string>{147,80}</string>
      </dict>
      <key>part-tx_huangzi_huopao_candan.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,416},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_dilie.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,416},{75,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>part-tx_huangzi_huopao_ken.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao06.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao05.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao04.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,182},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao03.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,182},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao02.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,182},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopao01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,180}}</string>
        <key>sourceSize</key>
        <string>{220,180}</string>
      </dict>
      <key>part-tx_huangzi_huopaoxiaoguang.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,416},{204,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,20}}</string>
        <key>sourceSize</key>
        <string>{204,20}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,364},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>part-tx_huangzi_huopao0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,112},{110,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,110}}</string>
        <key>sourceSize</key>
        <string>{110,110}</string>
      </dict>
      <key>part-tx_huangzi_huopao0002_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,336},{110,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,110}}</string>
        <key>sourceSize</key>
        <string>{110,110}</string>
      </dict>
      <key>part-tx_huangzi_huopao0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,224},{110,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,110}}</string>
        <key>sourceSize</key>
        <string>{110,110}</string>
      </dict>
      <key>part-tx_huangzi_huopao0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{110,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,110}}</string>
        <key>sourceSize</key>
        <string>{110,110}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_yuan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{200,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,50}}</string>
        <key>sourceSize</key>
        <string>{200,50}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_yuan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,364},{200,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,50}}</string>
        <key>sourceSize</key>
        <string>{200,50}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_yuan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,364},{200,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,50}}</string>
        <key>sourceSize</key>
        <string>{200,50}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_yuan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,364},{200,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,50}}</string>
        <key>sourceSize</key>
        <string>{200,50}</string>
      </dict>
      <key>part-tx_huangzi_huopaodan_yuan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{200,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,50}}</string>
        <key>sourceSize</key>
        <string>{200,50}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_huangzi_huopao.png</string>
      <key>textureFileName</key>
      <string>tx_huangzi_huopao.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>