<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_qibing_mingchengdanti_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,364},{148,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{148,58}}</string>
    <key>sourceSize</key>
    <string>{148,58}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{216,320},{140,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{140,93}}</string>
    <key>sourceSize</key>
    <string>{140,93}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,412},{105,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{105,60}}</string>
    <key>sourceSize</key>
    <string>{105,60}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{358,320},{125,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{125,90}}</string>
    <key>sourceSize</key>
    <string>{125,90}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,238},{200,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,80}}</string>
    <key>sourceSize</key>
    <string>{200,80}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_09.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{285,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{285,111}}</string>
    <key>sourceSize</key>
    <string>{285,111}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,113},{263,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{263,101}}</string>
    <key>sourceSize</key>
    <string>{263,101}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,143},{242,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{242,93}}</string>
    <key>sourceSize</key>
    <string>{242,93}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,216},{226,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{226,84}}</string>
    <key>sourceSize</key>
    <string>{226,84}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,0},{214,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,75}}</string>
    <key>sourceSize</key>
    <string>{214,75}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,302},{214,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{214,60}}</string>
    <key>sourceSize</key>
    <string>{214,60}</string>
   </dict>
   <key>part-tx_qibing_mingchengdanti_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{287,77},{219,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{219,64}}</string>
    <key>sourceSize</key>
    <string>{219,64}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,113},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_qibing_mingchendanti.png</string>
   <key>textureFileName</key>
   <string>tx_qibing_mingchendanti.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>