<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{414,148},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,145},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,0},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,74},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,108},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,37},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{462,148},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part1-renwu_chuji_qibing_xiaobingyan_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,111},{46,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,35}}</string>
    <key>sourceSize</key>
    <string>{46,35}</string>
   </dict>
   <key>part2-renwu_chuji_qibing01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,235},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing07.png</key>
   <dict>
    <key>frame</key>
    <string>{{202,0},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing06.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,0},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing05.png</key>
   <dict>
    <key>frame</key>
    <string>{{170,127},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing04.png</key>
   <dict>
    <key>frame</key>
    <string>{{292,127},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,108},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing02.png</key>
   <dict>
    <key>frame</key>
    <string>{{122,254},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-renwu_chuji_qibing08.png</key>
   <dict>
    <key>frame</key>
    <string>{{244,254},{120,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,125}}</string>
    <key>sourceSize</key>
    <string>{120,125}</string>
   </dict>
   <key>part2-bingzhong_qibing_diying.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{200,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{200,106}}</string>
    <key>sourceSize</key>
    <string>{200,106}</string>
   </dict>
   <key>part2-renwu_chuji_qibing_kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>renwu_chuji_qibing_jiu.png</string>
   <key>textureFileName</key>
   <string>renwu_chuji_qibing_jiu.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>