<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_denglu20.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,648},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>part-tx_ui_denglu15.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,438},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>part-tx_ui_denglu16.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,606},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>part-tx_ui_denglu19.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,635},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>part-tx_ui_denglu18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{256,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,256}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>part-tx_ui_denglu24.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,778},{130,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,60}}</string>
        <key>sourceSize</key>
        <string>{130,60}</string>
      </dict>
      <key>part-tx_ui_denglu21.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,474},{130,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>part-tx_ui_denglu25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{283,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{283,510}}</string>
        <key>sourceSize</key>
        <string>{283,510}</string>
      </dict>
      <key>part-tx_ui_denglu14.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{17,472}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,472}}</string>
        <key>sourceSize</key>
        <string>{17,472}</string>
      </dict>
      <key>part-tx_ui_denglu26.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{218,436}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,436}}</string>
        <key>sourceSize</key>
        <string>{218,436}</string>
      </dict>
      <key>part-tx_ui_denglu22.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,438},{115,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,208}}</string>
        <key>sourceSize</key>
        <string>{115,208}</string>
      </dict>
      <key>part-tx_ui_denglu27.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,246},{483,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{483,208}}</string>
        <key>sourceSize</key>
        <string>{483,208}</string>
      </dict>
      <key>part-tx_ui_denglu17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{241,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{241,209}}</string>
        <key>sourceSize</key>
        <string>{241,209}</string>
      </dict>
      <key>part-tx_ui_denglu23.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{483,244}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{483,244}}</string>
        <key>sourceSize</key>
        <string>{483,244}</string>
      </dict>
      <key>part-tx_ui_denglu11.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,456},{375,177}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{375,177}}</string>
        <key>sourceSize</key>
        <string>{375,177}</string>
      </dict>
      <key>part-tx_ui_denglu12.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,635},{335,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{335,155}}</string>
        <key>sourceSize</key>
        <string>{335,155}</string>
      </dict>
      <key>part-tx_ui_denglu13.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,736},{134,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,89}}</string>
        <key>sourceSize</key>
        <string>{134,89}</string>
      </dict>
      <key>part-kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_denglu.png</string>
      <key>textureFileName</key>
      <string>tx_ui_denglu.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>