<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_gongbing_mingchendanti04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,52},{220,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,50}}</string>
    <key>sourceSize</key>
    <string>{220,50}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti03.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,52},{220,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,50}}</string>
    <key>sourceSize</key>
    <string>{220,50}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{220,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,50}}</string>
    <key>sourceSize</key>
    <string>{220,50}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti01.png</key>
   <dict>
    <key>frame</key>
    <string>{{222,0},{220,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{220,50}}</string>
    <key>sourceSize</key>
    <string>{220,50}</string>
   </dict>
   <key>part-tx_gongbing_mingchendant12.png</key>
   <dict>
    <key>frame</key>
    <string>{{224,266},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendant11.png</key>
   <dict>
    <key>frame</key>
    <string>{{326,104},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendant1i0.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti09.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,104},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti08.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,266},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti07.png</key>
   <dict>
    <key>frame</key>
    <string>{{336,266},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti06.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,104},{110,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,160}}</string>
    <key>sourceSize</key>
    <string>{110,160}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti05.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,104},{100,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,20}}</string>
    <key>sourceSize</key>
    <string>{100,20}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti_quan.png</key>
   <dict>
    <key>frame</key>
    <string>{{112,428},{132,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,52}}</string>
    <key>sourceSize</key>
    <string>{132,52}</string>
   </dict>
   <key>part-tx_gongbing_mingchendanti_dilie.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,428},{110,40}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{110,40}}</string>
    <key>sourceSize</key>
    <string>{110,40}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_gongbing_mingchendanti.png</string>
   <key>textureFileName</key>
   <string>tx_gongbing_mingchendanti.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>