<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-tx_ui_jiemianuic003.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,138},{130,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>part-tx_ui_jiemianuic007.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{139,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,136}}</string>
        <key>sourceSize</key>
        <string>{139,136}</string>
      </dict>
      <key>part-tx_ui_jiemianuic006.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,388},{45,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,34}}</string>
        <key>sourceSize</key>
        <string>{45,34}</string>
      </dict>
      <key>part-tx_ui_jiemianuic004.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,268},{133,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,118}}</string>
        <key>sourceSize</key>
        <string>{133,118}</string>
      </dict>
      <key>part-tx_ui_jiemianuic005.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,270},{114,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,102}}</string>
        <key>sourceSize</key>
        <string>{114,102}</string>
      </dict>
      <key>part-tx_ui_jiemianuic002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,266}}</string>
        <key>sourceSize</key>
        <string>{266,266}</string>
      </dict>
      <key>part-tx_ui_jiemianuic16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{130,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,130}}</string>
        <key>sourceSize</key>
        <string>{130,130}</string>
      </dict>
      <key>part-tx_ui_jiemianuic09.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,374},{90,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,45}}</string>
        <key>sourceSize</key>
        <string>{90,45}</string>
      </dict>
      <key>part-tx_ui_jiemianuic10.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,313},{90,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,65}}</string>
        <key>sourceSize</key>
        <string>{90,65}</string>
      </dict>
      <key>part-tx_ui_jiemianuic11.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,127},{90,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,94}}</string>
        <key>sourceSize</key>
        <string>{90,94}</string>
      </dict>
      <key>part-tx_ui_jiemianuic12.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{90,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,125}}</string>
        <key>sourceSize</key>
        <string>{90,125}</string>
      </dict>
      <key>part-tx_ui_jiemianuic13.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,223},{73,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,88}}</string>
        <key>sourceSize</key>
        <string>{73,88}</string>
      </dict>
      <key>part-tx_ui_jiemianuic14.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,380},{66,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,67}}</string>
        <key>sourceSize</key>
        <string>{66,67}</string>
      </dict>
      <key>part-tx_ui_jiemianuic01.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,380},{62,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,47}}</string>
        <key>sourceSize</key>
        <string>{62,47}</string>
      </dict>
      <key>part-tx_ui_jiemianuic02.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,223},{35,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,30}}</string>
        <key>sourceSize</key>
        <string>{35,30}</string>
      </dict>
      <key>part-tx_ui_jiemianuic001.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,255},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tx_ui_jiemianuic.png</string>
      <key>textureFileName</key>
      <string>tx_ui_jiemianuic.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>