<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_bubing_mingchendanti11.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,400},{147,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{147,80}}</string>
    <key>sourceSize</key>
    <string>{147,80}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti101.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{391,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{391,66}}</string>
    <key>sourceSize</key>
    <string>{391,66}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti102.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{391,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{391,66}}</string>
    <key>sourceSize</key>
    <string>{391,66}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti10.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,268},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,268},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti06.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,400},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti05.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,136},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti04.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,136},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti03.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,136},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti02.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,268},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendanti01.png</key>
   <dict>
    <key>frame</key>
    <string>{{162,400},{160,130}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{160,130}}</string>
    <key>sourceSize</key>
    <string>{160,130}</string>
   </dict>
   <key>part-tx_bubing_mingchendantikong.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_bubing_mingchendanti.png</string>
   <key>textureFileName</key>
   <string>tx_bubing_mingchendanti.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>