<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>part-tx_ui_kapaihuo06.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,92},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-tx_ui_kapaihuo05.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,0},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-tx_ui_kapaihuo04.png</key>
   <dict>
    <key>frame</key>
    <string>{{264,92},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-tx_ui_kapaihuo03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-tx_ui_kapaihuo02.png</key>
   <dict>
    <key>frame</key>
    <string>{{132,0},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-tx_ui_kapaihuo01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,92},{130,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,90}}</string>
    <key>sourceSize</key>
    <string>{130,90}</string>
   </dict>
   <key>part-kong.png</key>
   <dict>
    <key>frame</key>
    <string>{{396,0},{10,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,10}}</string>
    <key>sourceSize</key>
    <string>{10,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>tx_ui_kapaihuo.png</string>
   <key>textureFileName</key>
   <string>tx_ui_kapaihuo.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>