<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>part-ui_juedou_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{10,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,10}}</string>
        <key>sourceSize</key>
        <string>{10,10}</string>
      </dict>
      <key>part-ui_juedou_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{82,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>part-ui_juedou_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,170},{82,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>part-ui_juedou_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,170},{82,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,81}}</string>
        <key>sourceSize</key>
        <string>{82,81}</string>
      </dict>
      <key>part-ui_juedou_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
      <key>part-ui_juedou_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
      <key>part-ui_juedou_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,85},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
      <key>part-ui_juedou_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
      <key>part-ui_juedou_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,85},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
      <key>part-ui_juedou_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{150,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,83}}</string>
        <key>sourceSize</key>
        <string>{150,83}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ui_juedou.png</string>
      <key>textureFileName</key>
      <string>ui_juedou.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>